{% extends "sourdough/base.html" %}

{% block scripts %}

{% endblock %}

{% block content %}
    <section class="jumbotron">
        <div class="container">
            <h1>Hey!</h1>
            <p class="lead text-muted">
                Empty page.
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                	Empty.
               	</div>
            </div>
        </div>
   </div>

{% endblock %}
