{% extends "sourdough/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/app.css' %}">
{% endblock %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <h1>Hej!</h1>
        <p class="lead text-muted">
            Här kan du beräkna hydreringen på ditt surdegsbröd.
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div id="root"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'sourdough/app.js' %}"></script>
{% endblock %}