{% extends "sourdough/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/index.css' %}">

{% endblock %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <img src="https://img.icons8.com/bubbles/100/000000/kawaii-bread-1.png"/>
        <h1>Bread calculator</h1>
        <p class="lead text-muted">
            Calculate ingredients for your sourdough bread with baker's percentage.
        </p>
    </div>
</section>

<div class="album py-5 calculator-light">
    <div class="container">
        <div id="root"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'sourdough/app.js' %}"></script>
{% endblock %}