{% extends "sourdough/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/index.css' %}">
<script>
    const serverData = {
        name: '{{recipe.name}}',
        flour: '{{recipe.flour}}',
        water: '{{recipe.water}}',
        sourdough: '{{recipe.sourdough}}',
        salt: '{{recipe.salt}}'
    };
</script>
{% endblock %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <img src="https://img.icons8.com/bubbles/100/000000/kawaii-bread-1.png"/>
        <h1>{{ recipe.name }}</h1>
    </div>
</section>

<div class="py-5 calculator-light">
    <div class="container">
        <div id="root"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        console.log('ready');
        $('.saveButton').click(function () {
            console.log('click');
            const data = {
                'flour': 123
            };

            const name = $('#nameInput').val();
            console.log(name);
            const encodedName = encodeURIComponent(name);
            console.log(encodedName);

            const d = $('#calculatorForm').serialize() + '&name=' + encodedName;
            console.log(d);

            $.ajax({
                url: "/save",
                type: "POST",
                data: d,

                success: function (response) {
                    console.log('oko');
                    console.log(response.result);
                    console.log(response.url);
                    window.location.href = response.url; //relative to domain
                },
                error: function (response) {
                    console.log('err');
                    console.log(response);
                }
            });
        });
    });
</script>
<script src="{% static 'sourdough/app.js' %}"></script>
{% endblock %}