{% extends "sourdough/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sourdough/index.css' %}">
<script>
    const serverData = {
        name: '{{recipe.name}}',
        flour: '{{recipe.flour}}',
        water: '{{recipe.water}}',
        sourdough: '{{recipe.sourdough}}',
        salt: '{{recipe.salt}}'
    };
</script>
{% endblock %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <img src="https://img.icons8.com/bubbles/100/000000/kawaii-bread-1.png"/>
        <h1>{{ recipe.name }}</h1>
    </div>
</section>

<div class="py-5 calculator-light">
    <div class="container">
        <div class="row">
            <div class="col-sm">
<ul>
{% for ingredient in ingredients %}
    <li>{{ ingredient.name }}: {{ ingredient.weight }} grams</li>
{% endfor %}
</ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        console.log('ready');
    });
</script>
{% endblock %}