{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Surdeg</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'sourdough/style.css' %}">

    <script>
        const getInt = (id) => {
            return parseInt($(id).val());
        };

        const handleClick = () => {
            const flour = getInt('#flourInput');
            const waterPercent = getInt('#waterPercentInput');
            const sourdoughPercent = getInt('#sourdoughPercentInput');
            const saltPercent = getInt('#saltPercentInput');

            const water = flour * (waterPercent / 100);
            const sourdough = flour * (sourdoughPercent / 100);
            const salt = flour * (saltPercent / 100);

            $('#waterInput').val(water);
            $('#sourdoughInput').val(sourdough);
            $('#saltInput').val(salt);

            $('.hidden').show('slow');
        };
    </script>
</head>
<body>
<header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Surdeg</strong>
            </a>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron">
        <div class="container">
            <h1>Hej!</h1>
            <p class="lead text-muted">
                Här kan du beräkna hydreringen på ditt surdegsbröd.
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <form>
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm mb-2">
                        <div class="form-group">
                            <label for="flourInput">Mjöl (gram)</label>
                            <input type="text"
                                   value="1000"
                                   class="form-control form-control-lg"
                                   name="flour"
                                   id="flourInput"
                            />
                            <small id="flourHelp" class="form-text text-muted">Man utgår från mjölet. Det är
                                100% och andra ingredienser beräknas utifrån det.</small>
                        </div>
                    </div>
                    <div class="col-sm">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="waterPercentInput">Vatten (%)</label>
                            <input type="text"
                                   value="75"
                                   class="form-control form-control-lg"
                                   name="waterPercent"
                                   id="waterPercentInput"
                            />
                        </div>
                    </div>
                    <div class="col-sm">

                        <div class="form-group hidden">
                            <label for="waterInput">Vatten (gram)</label>
                            <input type="text"
                                   value="0"
                                   class="form-control form-control-lg"
                                   name="water"
                                   id="waterInput"
                                   disabled
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="sourdoughPercentInput">Surdeg (%)</label>
                            <input type="text"
                                   value="15"
                                   class="form-control form-control-lg"
                                   name="sourdoughPercent"
                                   id="sourdoughPercentInput"
                            />
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group hidden">
                            <label for="sourdoughInput">Surdeg (gram)</label>
                            <input type="text"
                                   value="0"
                                   class="form-control form-control-lg"
                                   name="sourdough"
                                   id="sourdoughInput"
                                   disabled
                            />
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="saltPercentInput">Salt (%)</label>
                            <input type="text"
                                   value="2"
                                   class="form-control form-control-lg"
                                   name="saltPercent"
                                   id="saltPercentInput"
                            />
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group hidden">
                            <label for="saltInput">Salt (gram)</label>
                            <input type="text"
                                   value="0"
                                   class="form-control form-control-lg"
                                   name="salt"
                                   id="saltInput"
                                   disabled
                            />
                        </div>
                    </div>
                </div>

                <button type="button" onclick="handleClick()" class="btn btn-primary">Räkna</button>
            </form>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a
                href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>
